.tab-content .dynamic-fields-wrapper {
  background-color: #fdfdfe;
  border: 0.063rem solid #d4d1d9;
  min-height: 53rem;
}
.tab-content .dynamic-fields-wrapper .dynamic-form {
  padding-top: 2.5rem;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-form-label {
  width: 28%;
  color: #181718;
  word-wrap: break-word;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-form-label p {
  font-size: 0.875rem;
  color: #181718;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content {
  width: 65%;
  color: #5e5d60;
  position: relative;
  /*pro tag*/
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content {
  margin-left: auto;
  position: relative;
  margin-bottom: 0.625rem;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content span.admin-pro-tag {
  left: 3.625rem;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content::after {
  content: "";
  position: absolute;
  top: 0.55rem;
  left: 2.3rem;
  width: 0.25rem;
  height: 0.25rem;
  border: 0.0625rem solid #65438f;
  border-radius: 8rem;
  transition: 0.3s;
  z-index: 0;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content input {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content label {
  cursor: pointer;
  width: 3.3rem;
  height: 1.5rem;
  background: 0 0;
  display: block;
  border-radius: 8rem;
  position: relative;
  border: 0.125rem solid #d4d1d9;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 0.17rem;
  height: 0.57rem;
  background: #fdfdfe;
  transition: 0.3s;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.313rem;
  width: 0.875rem;
  height: 0.875rem;
  background: #65438f;
  border-radius: 90rem;
  transition: 0.3s;
  z-index: 1;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content input:checked + label {
  background: #65438f;
  border: 0.125rem solid #65438f;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content .toggle-checkbox-content input:checked + label:after {
  left: calc(100% - 1.313rem);
  transform: translateY(-50%);
  background-color: #fdfdfe;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content input,
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content textarea {
  width: 100%;
  border: 0.063rem solid #d4d1d9;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content span.admin-pro-tag {
  position: absolute;
  width: fit-content;
  right: 0.25rem;
  background: #522c81;
  color: #fdfdfe;
  padding: 0.125rem 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1;
  text-transform: capitalize;
}
.tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-metabox-description {
  margin-top: 0.625rem;
  font-style: italic;
  font-size: 0.75rem;
  color: #8e8b91;
}
.tab-content .dynamic-fields-wrapper .setting-section-divider {
  background-color: #afafaf;
  height: 0.05rem;
  margin: 2rem 0;
}

@media only screen and (max-width: 48.321rem) {
  .tab-content .dynamic-fields-wrapper .dynamic-form .form-group {
    flex-direction: column;
  }
  .tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-form-label {
    width: 100%;
  }
  .tab-content .dynamic-fields-wrapper .dynamic-form .form-group .settings-input-content {
    width: 100%;
  }
  .tab-content .dynamic-fields-wrapper .setting-section-divider {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=dynamicForm.css.map */