#mvx-admin-catalog .general-wrapper .container {
  gap: 1.2rem;
  background-color: #f2eff5;
  padding: 2rem 1.5rem;
  min-height: 54rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper {
  width: 100%;
  min-width: 60%;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .tab-description-start {
  padding: 2rem 2rem;
  margin-bottom: 0.35rem;
  background-color: #fdfdfe;
  border: 0.063rem solid #d4d1d9;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .tab-description-start .tab-name {
  color: #181718;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists {
  height: auto;
  max-width: 15.75rem;
  width: 100%;
  position: sticky;
  top: 3rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .active-current-tab {
  position: relative;
  background-color: rgb(225, 225, 225);
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .active-current-tab:hover {
  background-color: rgb(225, 225, 225);
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a {
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-bottom: 0;
  text-decoration: none;
  color: #181718;
  position: relative;
  box-shadow: none;
  border-radius: 0.25rem;
  font-weight: 400;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a:hover {
  background-color: #fdfdfe;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a:hover .tab-menu-dropdown-icon {
  background-color: #f2eff5;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a i {
  padding-right: 0.5rem;
  color: #9f8ab9;
  font-size: 1.5rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a .tab-menu-dropdown-icon {
  margin: 0;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: rotate(0);
  transition: transform 0.3s linear;
  border-radius: 0.25rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a .tab-menu-dropdown-icon.active {
  transform: rotate(90deg);
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container a .tab-menu-dropdown-icon i {
  padding-right: 0;
  font-size: 0.65rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .tab-wrapper a {
  margin: 0;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .subtab-wrapper {
  padding: 0 0 0 1rem;
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: all 0.5s ease;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .subtab-wrapper.show {
  padding: 0;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .subtab-wrapper.active {
  margin: 0.5rem 0;
  transition: max-height 1.5s linear;
  max-height: 60rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container .subtab-wrapper a {
  margin: 0.25rem 0;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand {
  margin: 0.5rem 0 3.75rem;
  position: relative;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand p {
  font-size: 1rem;
  margin-top: 0.25rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand img {
  max-width: 9.45rem;
  width: 100%;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand .menu-close {
  display: none;
  position: absolute;
  width: 2.52rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  right: 0;
  height: 2.52rem;
  border-radius: 0.5rem;
  background: #f2eff5;
  color: #9f8ab9;
  border: none;
  outline: none;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .menu-coll-btn {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-bottom: 0;
  text-decoration: none;
  color: #181718;
  position: relative;
  box-shadow: none;
  border-radius: 0.25rem;
  font-weight: 400;
  width: 100%;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .menu-coll-btn:hover {
  background-color: #fdfdfe;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .menu-coll-btn i {
  margin-right: 0.5rem;
  color: #9f8ab9;
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 50%;
  color: #fdfdfe;
  background-color: #9f8ab9;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists.showMenu {
  max-width: 2.52rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists.showMenu .current-tab-lists-container a {
  padding: 0.5rem;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists.showMenu .current-tab-lists-container a i {
  padding: 0;
}
#mvx-admin-catalog .general-wrapper .container .middle-container-wrapper .middle-child-container .tab-content {
  width: 100%;
  height: auto;
  min-height: 63rem;
  position: relative;
  border-radius: 0.25rem;
}
#mvx-admin-catalog .general-wrapper .container .admin-panel-nav {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 0.63rem;
  gap: 0.63rem;
  border-radius: 0.25rem;
}
#mvx-admin-catalog .general-wrapper .container .admin-panel-nav button {
  width: 2.52rem;
  height: 2.52rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
}
#mvx-admin-catalog .general-wrapper .container .admin-panel-nav .brand img {
  width: 9.45rem;
}
#mvx-admin-catalog .general-wrapper .notic-display-title {
  background-color: #bf6290;
  color: #fdfdfe;
  padding: 0.5rem 1rem;
  border-radius: 0.12rem;
  position: fixed;
  top: 15%;
  right: 1rem;
  z-index: 9999;
}
#mvx-admin-catalog .general-wrapper .notic-display-title i {
  margin-right: 0.25rem;
}

@media only screen and (max-width: 48.321rem) {
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists {
    max-width: 100vw;
    width: 0%;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    z-index: 100000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .current-tab-lists-container {
    height: 100%;
    background: white;
    padding: 2rem;
    max-width: 22.05rem;
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand {
    margin: 0 0 1.5rem;
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .brand .menu-close {
    display: block;
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists .menu-coll-btn {
    display: none;
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .current-tab-lists.active {
    width: 100%;
  }
  #admin-stockmanager .general-wrapper .container .middle-container-wrapper .middle-child-container .tab-content {
    width: 100%;
  }
  #admin-stockmanager .general-wrapper .container .admin-panel-nav {
    display: flex;
  }
}/*# sourceMappingURL=tabs.css.map */